{{ define "Mantenimiento" }}
<!doctype html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/error-message.css">
    <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body class="not-found">

    
    <section>
        <h1>Estamos en mantenimiento</h1>
        <p>Muchas gracias por tu comprensión</p>
        
        <div class="social">
            <a href="#" class="facebook" target="_blank" title="Siguenos en Facebook"><img src="/assets/images/facebook-icon.png" alt=""></a>
            <a href="#" class="twitter" target="_blank" title="Visitanos en Twitter"><img src="/assets/images/twitter-icon.png" alt=""></a>
        </div>

    </section>


<span class="author-picture">Imagen: <a href="http://previews.123rf.com/images/yupiramos/yupiramos1203/yupiramos120300194/12814107-las-se-ales-de-tr-fico-sobre-fondo-negro-en-construcci-n-vector-Foto-de-archivo.jpg" target="_blank">123rf.com</a></span>

</body>
</html>

{{ end }}